Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///tmp/build/80754af9/cryptography_1639400846433/work
cvxopt==1.3.0
cvxpy @ file:///home/conda/feedstock_root/build_artifacts/cvxpy-split_1646871785882/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
ecos @ file:///home/conda/feedstock_root/build_artifacts/ecos_1641390468949/work
fonttools==4.25.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1638569886207/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1645455682260/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
munkres==1.1.4
numexpr @ file:///tmp/build/80754af9/numexpr_1640704208950/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
osqp @ file:///home/conda/feedstock_root/build_artifacts/osqp_1636447372853/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.1
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
Pillow==9.0.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
qdldl @ file:///home/conda/feedstock_root/build_artifacts/qdldl-python_1636438790588/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1642617107864/work
scipy @ file:///tmp/build/80754af9/scipy_1641555001653/work
scs @ file:///home/conda/feedstock_root/build_artifacts/scs_1645488396682/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
statsmodels @ file:///tmp/build/80754af9/statsmodels_1648033297787/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
